@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    background: #f4eee4;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
}
.title{
    font-size: 4rem;
    font-weight: 700;
}
.testStart{
    min-width: 20rem;
    height: 5em;
    border-radius: 10px;
    border: 0px;
    outline: 1px solid #d9dddc;
    background: #fff;
    box-shadow: 0px 1px 0px #d9dddc;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question{
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
    
}
.answerOne, .answerTwo{
	min-width: 20rem;
    max-width: 20rem;
    height: 5em;
    border-radius: 10px;
    border: 0px;
    outline: none;
    background: #fff;
    box-shadow: 0px 2px 0px #d9dddc;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Jua', sans-serif;
    color: #4f4f4f;
    cursor: pointer;
    padding: .5rem 1rem;
    word-break:keep-all;
}
.pageNumber{
    font-size: 1.25rem;
    font-weight: 700;
}
header{
    display: flex;
    border-bottom: 1px solid gray;
    font-weight: 700;
    padding: 0% 5%;
    margin-bottom: 10%;
}
.resultBox{
    min-width: 20rem;
    max-width: 20rem;
    border-radius: 10px;
    border: 0px;
    outline: none;
    background: #fff;
    box-shadow: 0px 2px 0px #d9dddc;
    margin-bottom: 10px;
    font-size: .8rem;
    font-family: 'Jua', sans-serif;
    color: #4f4f4f;
    cursor: pointer;
    padding: 2rem 1rem;
    word-break:keep-all;
}
 a:link { 
     color: black; text-decoration: none;
}
 a:visited { 
     color: black; text-decoration: none;
}
 a:hover { 
     color: black; text-decoration: none;
}
@media screen and (max-width: 768px) { 
    .title{
                font-size: 2rem;
     }
    .question{
	    font-size: 1.3rem;
	}
}